@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

h2 {
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    margin: 0;
}

li,
a,
button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    background-color: #2CA6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    width: 100%;
}

.firstpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    list-style: none;
    margin: 0;
    margin-left: 40px;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: black;
    text-decoration: none;

}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.dropdown {
    background-color: #2CA6FF;
    
}

.container {
    margin: 2rem auto;
    width: 80%;
}

.menu_card {
    display: flex;
    flex-direction: row;

}

.card {

    display: inline-block;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}

.logo {
    display: inline-block;
    align-items: flex-start;
}

.information {
    display: flex;
    justify-content: center;

}

.welcoming {
    font-weight: 500px;
}

b {
    font-size: 27px;

}

.name {
    font-size: 27px;
    font-weight: bold;
}

.timer {
    padding-top: 10px;
}

#timer {
    color: black;
    font-size: 14px;
}
#timerform{
    background-color: white;
    font-family: 'Poppins';
    
}

#timerinput{
    background-color: white;
    border: none;
    font-size: 18px;
}
.position {}

#position {
    color: black;
}

img {

    width: 150px;
    border-radius: 50%;
    border: 5px solid black;

}

.date_picker {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.begin {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
    
}
.bgn_title{
    font-size: 18px;
    font-weight:bolder;
}
.end {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
    
}
.end_title{
    font-size: 18px;
    font-weight:bolder;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
    
    
}
.showResultsBtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.showBtn {
    background-color: #2CA6FF;
    border-radius: 8px;
    width: 207px;
}

table,
th,
td {
    border: 1px solid #B9B9B9;
    padding: 5px;
    
}

table {
    width: 100%;

}

.table {
    display: flex;
    justify-content: center;
    padding-top:50px ;
}
th{
    background-color: rgba(0, 0,0, 0.05);
    font-family: 'Poppins';
}
td{
    font-family: 'Poppins';
}
